{{#animated-if audioPlayer.show use=transition duration=transitionDuration}}
    <div class="fixed bottom-0 left-0 bg-gray-800 w-full text-white">


        <!-- <progress value={{ audioPlayer.currentTime }} max={{ audioPlayer.duration }}
                {{ on "click" (action 'skip')}}>{{ audioPlayer.percentPlayed }}
                %</progress> -->


        <div class="container">
            <div class="audio-wrapper">
                <div class="player-col-1">
                    <button class="round-button h-16 w-16 bg-blue-100" {{action "toggle"}}>
                        {{#if audioPlayer.isPlaying }}
                            Pause
                        {{else}}
                            Play
                        {{/if}}
                    </button>

                </div>
                <div class="player-col-2">
                    <h4 class="player-nowplaying text-sm">{{{ audioPlayer.nowPlaying.title }}}</h4>
                    <ProgressBar @currentTime={{ audioPlayer.currentTime }} @duration={{ audioPlayer.duration }}
                        @setTime={{ action "setTime" }} />
                </div>
                <div class="player-col-3">
                    {{ audioPlayer.currentTime }} / {{ audioPlayer.duration }}
                </div>
            </div>
        </div>
    </div>
{{/animated-if}}
{{#if audioPlayer.ready}}
    <audio id="audio">
        <source src="{{ audioPlayer.src }} ">
    </audio>
{{/if}}